.add-project-container {
    background-color: #fff;
    width: calc(100vw - 250px);
    height: 100%;
    margin: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;

    .add-project-card-body {
        background-color: #f8f8f8;
        margin: 12px;
        border: 1px solid rgb(209, 210, 212);
        border-radius: 2px;

        .add-project-card-header {
            border-bottom: 1px solid rgb(209, 210, 212);;
            padding: 10px;
            font-size:18px;
            display:flex;
            align-items:center;
            gap: 8px;
            .align-icon{
                padding-left: 8px;
                
            }

        }

        .add-project-card-content {
            border-bottom: 1px solid rgb(209, 210, 212);
           
            .row{
                display: flex;
                flex-direction: row;
                padding:16px;
                gap: 12px;

                .input-element{
                    display: flex;
                    flex-direction: column;
                    gap:12px;
                    padding: 8px;
                }
                input{
                    width:250px;
                    height:25px;
                }
                .file{
                    width: 250px;
                    height: 22px;
                }
                .red{
                    color: red;
                }
                .type{
                    width:250px;
                }

            }
            
        }
        .add-project-footer
        {
            padding: 8px;      
            gap: 8px;  
            display: flex;
            justify-content: end;  
            .btn
            {
                height:35px;
                width:80px;
                &.bg-grey{
                    background-color:grey;
                    border: 1px solid grey;
                    color:#fff;
                    border-radius: 2px;
                    
                }


            }   
           
        }
    }
}